<footer>
    <hr>
    <div class="flex-group footer-container">
        <div class="footer-flex__item-1">
            <p>Støt foreningen via MobilePay: 27231</p>
        </div>
        <hr class="hr-phone">
        <div id="copyright" class="footer-flex__item-2"></div>
    </div>
</footer>

