<footer>
    <hr>
    <div class="flex-group">
        <div class="footer-flex__item-1">
            <p>Støt foreningen via MobilePay: 27231</p>
        </div>
        <div class="footer-flex__item-2">
            <p>Lavet af Jacob Erholt</p>
        </div>
    </div>
</footer>