<header>
    <div class="burger-menu" onclick="toggleMenuIcon(this)">
        <div class="burger-menu__bar1"></div>
        <div class="burger-menu__bar2"></div>
        <div class="burger-menu__bar3"></div>
    </div>
    <div class="flex-group menu" id="menu">
        <div>
            <a href="/">
                <div class="flex-group vertical-center logo-container">
                    <img src="/assets/logo.png" alt="">
                    <p>Børnelejren på Langeland</p>
                </div>
            </a>
        </div>
        <nav>
            <a class="header-link" href="/about">Om os</a>
            <a class="header-link" href="/thanks">Vi takker</a>
            <a class="header-link__button" href="/sponsor">Bliv en sponsor</a>
        </nav>
    </div>
    <hr>
</header>
