<header>
    <div class="flex-group">
        <div>
            <a href="/">
                <div class="flex-group vertical-center">
                    <img src="/assets/logo.png" alt="">
                    <p>Børnelejren på Langeland</p>
                </div>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/about">Om os</a></li>
                <li><a href="/thanks">Vi takker</a></li>
                <li><a href="/sponsor">Bliv en sponsor</a></li>
            </ul>
        </nav>
    </div>
    <hr>
</header>