<header>
    <div class="flex-group">
        <div>
            <a href="/">
                <div class="flex-group">
                    <img src="/assets/logo.png" alt="">
                    <p>Børnelejren på Langeland</p>
                </div>
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/about"></a>Om os</li>
                <li><a href="/thanks"></a>Vi takker</li>
                <li><a href="/sponsor"></a>Bliv en sponsor</li>
            </ul>
        </nav>
    </div>
    <hr>
</header>