// Header
header{
    position: fixed;
    width: 100%;
    top: 0%;
    opacity: 0.99;
    z-index: 999;
    a {
        font-size: $font-size-400;
        color: $clr-secondary;
        p {
            display: none;
            color: $clr-primary;
            font-size: $font-size-200;
            font-family: $font-family-heading;
        }
        &:hover{
            transition: .3s;
            color: $clr-primary;   
        }
    }
    img{
        height: 10vh;
    }
    nav{
        @extend .flex-group;
        flex-direction: column;
        // gap: $offset-large;
        align-items: center;
    }
}
.logo-container{
    justify-content: center;
    padding: 40px 0;
}
.header-link{
    text-align: center;
    padding-bottom: $offset-large;
}
.header-link__button{
    @extend .header-link;
    background-color: $clr-primary;
    color: $clr-neutral;
    height: 10vh;
    width: 100%;
    line-height: 10vh;
    border: 0;
    padding: 0 $offset-large;
    transition: .6s;
    &:hover{
        color: darken($clr-neutral, 5);
        background-color: darken($clr-primary, 5);
    }
}
.menu{
    display: none;
}
.burger-menu {
    padding: $offset-medieum;
    display: inline-block;
    cursor: pointer;
}
.burger-menu__bar1, .burger-menu__bar2, .burger-menu__bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: .3s;
}
.toggle-menu .burger-menu__bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}
.toggle-menu .burger-menu__bar2 {
    opacity: 0;
}
.toggle-menu .burger-menu__bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}   

// Mediaqueries

// Phone
@media only screen and (min-width: 576px){
}
// Tablet
@media only screen and (min-width: 768px){
    header{
        a{
            font-size: $font-size-200;
        }
        nav{
            flex-direction: row;
            margin-left: auto;
            gap: $offset-large;
        }
    }
    .logo-container{
        justify-content: unset;
        padding: 0;
    }
    .header-link{
        padding: unset;
    }
    .header-link__button{
        padding: 0 $offset-large;
        width: unset;
    }
    .menu{
        display: flex;
    }
    .burger-menu {
        display: none;
    }
}
// Laptop
@media only screen and (min-width: 992px){
    header{
        a{
            p{
                display: block;
            }
        }
    }
}
// Large devices
@media only screen and (min-width: 1200px){
    header{
        a{
            font-size: $font-size-400;
        }
    }
}