*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, main{
    min-height: 70vh;
}
body{
    font-family: $font-family-text;
}
img, iframe, video{
    max-width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}