*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, body{
    min-height: 70vh;
}
img, iframe, video{
    max-width: 100%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}