.offset{
    padding: $offset-medieum;
}

table {
    @extend .center;
    border-collapse: collapse;
    width: 80%;
}
  td, th {
    border: 1px solid darken($clr-neutral, 20);
    text-align: left;
    padding: 8px;
    width: 50%;
    &:nth-child(2){
        display: none;
    }
}
tr:nth-child(even) {
    background-color: darken($clr-neutral, 5);
}

details{
    color: $clr-neutral;
    background-color:   $clr-primary;
    summary{
        padding: $offset-medieum;
        font-size: $font-size-400;
    }
}
details:nth-child(even) {
    background-color: darken($clr-primary, 5);
}




hr{
    height: 5px;
    color: $clr-secondary;
    background-color: $clr-secondary;
    border-color: $clr-secondary;
}
.flex-group{
    display: flex;
}
.vertical-center{
    align-items: center;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
.visible{
    display: flex !important;
    flex-direction: column;
}
.activated{
    background-color: darken($clr-neutral, 5);
}

// Phone
@media only screen and (min-width: 576px){
}
// Tablet
@media only screen and (min-width: 768px){
    .offset{
        padding: $offset-large;
    }
    td, th{
        width: 33%;
        &:nth-child(2){
            display: table-cell;
        }
    }
}
// Laptop
@media only screen and (min-width: 992px){
}
// Large devices
@media only screen and (min-width: 1200px){
}