
hr{
    height: 5px;
    color: $clr-secondary;
    background-color: $clr-secondary;
    border-color: $clr-secondary;
}
.flex-group{
    display: flex;
}
.center{
    margin-left: auto;
    margin-right: auto;
}