// Colors
$clr-primary: #d0000b;
$clr-secondary: #0f0f3d;
$clr-neutral: #ffffff;

// offset
$offset-small: 10px;
$offset-medieum: 20px;
$offset-large: 40px;

// Font size
$font-size-100: 0.987em;
$font-size-200: 1.2em;
$font-size-300: 1.4em;
$font-size-400: 1.6em;
$font-size-500: 1.8em;
$font-size-600: 2.2em;
$font-size-700: 2.4em;
$font-size-800: 3em;