---
title: Om os
layout: 'base.njk'
---
<section>
    <h1>Om os</h1>
    <div class="offset">
        <p>Børnelejren på Langeland er en velgørende, non-profit forening, som afholder 
            finansierede lejre for dårligt stillede børn og unge fra hele landet. Børnelejrene bliver 
            afholdt på foreningens bondegård, Søgård Hovedgård, som ligger i naturskønne 
            omgivelser på sydspidsen af Langeland. Samtlige omkostninger til alle børns ophold og 
            transport til/fra lejren bliver finansieret af foreningen, og det er et krav fra foreningens 
            side, at der ikke opkræves brugerbetaling af børnenes forældre for opholdet på Søgård.
        </p>
    </div>
    <div class="flex-group banner-container grid-3 offset">
        <img class="small-img" src="../assets/outside-playground-2.jpg" alt="Image of the outside playground">
        <img class="large-img" src="../assets/pool.jpg" alt="Image of the camp's pool">
        <img class="large-img" src="../assets/kitchen-eating-area.jpg" alt="Image of the kitchen eating area">
        <img class="large-img" src="../assets/house-frontside.jpg" alt="Image of the frontside of the camp">
    </div>
    <div class="offset">
        <p>Foreningens bestyrelse og frivillige hjælpere arbejder ulønnet for Foreningen. 
            Medarbejderne fra institutionerne på foreningens lejre, får ikke kolonitillæg udbetalt af 
            Foreningen.
        </p><br>
        <p>Det er primært virksomheder og støttemedlemmer, der finansierer foreningens drift og 
            aktiviteter. Vi har heldigvis erfaret, at rigtig mange virksomheder er villige til at bakke op 
            omkring lejren, ligesom vi håber på endnu flere private, passive støttemedlemmer.
        </p><br>
        <p>Alle skriftlige henvendelser vedrørende Foreningen Børnelejren på Langeland og Søgård 
            Hovedgård bedes venligst sendt til Knud Bro Alle 1, st. mf., 3660 Stenløse. Telefoniske 
            henvendelser bedes ligeledes rettet til sekretariatet på telefon 38711260. Foreningens 
            formand er dagligt at træffe i sekretariatet.
        </p>
    </div>
</section>