---
title: Forside
layout: 'base.njk'
---
<section>
    <h1>Velkommen</h1>
    <div>
        <p>Børnelejren på Langeland er en forening, der udelukkende har til formål at sende dårligt
            stillede børn og unge sammen med deres pædagoger på et ophold i landlige omgivelser på
            det naturskønne Sydlangeland.</p>
    </div>
    <div class="flex-group banner-container grid-3">
        <img class="small-img" src="../assets/outside-playground.jpg" alt="Image of the outside playground">
        <img class="large-img" src="../assets/house-frontside.jpg" alt="Image of the camp from the frontside">
        <img class="large-img" src="../assets/house-backside.jpg" alt="Image of the camp from the backside">
        <img class="large-img" src="../assets/kitchen.jpg" alt="Image of the camp's kitchen">
    </div>
    <div>
        <p>Der er mange børn i verden, der ikke har det så godt, som de burde have det. Det gælder
            desværre også i Danmark. Der er børn med medfødte handicap, børn der er blevet
            alvorligt syge, børn der lider under omsorgssvigt eller bliver udsat for overgreb, børn der
            har mistet én af eller begge deres forældre, børn der er tvangsfjernet fra deres hjem og
            familie, børn der bliver mobbet i skolen, børn der vokser op i meget fattige familier, børn
            fra skilsmisse- og sammenbragte familier - vi kender allesammen et barn, der tilhører en af
            disse grupper, og det er disse børn, vi gerne vil gøre noget for.
        </p><br>
        <p>Foreningen Børnelejren på Langeland samler penge ind fra erhvervslivet, fonde og private
            til at sende dårligt stillede børn på et velfortjent lejrophold på Søgård. <b>Hjælp os med at
                hjælpe dem!</b>
        </p>
    </div>

</section>