---
title: Sponsor
layout: 'base.njk'
---
<section>
    <h1>Tilmelding Som Sponsor</h1>
    <div>
        <p>Da det er meget individuelt, hvor meget en virksomhed kan og ønsker at støtte med, har vi 
            opdelt støttemulighederne i 3 kategorier:
        </p>
    </div>
</section>